    <div class="modal fade" id="newPath" tabindex="-1" role="dialog" aria-labelledby="newPathLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newPathLabel">New Path</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post">
                {{ path_form.hidden_tag() }}
                {{ render_field(path_form.name) }}
                {{ render_field(path_form.description) }}
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                {{ render_field(path_form.submit, class="btn btn-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>