    <div class="row">
        <div class="col-sm-6 mx-auto">
            <div class="card step-card" data-stepid="{{ step.id }}">
                <div class="card-header">
                    Step {{ step.step_order }}
                    {% if current_user.id == creator_id %}
                        <div class="dropdown float-right">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options
                            </button>
                            <div class="dropdown-menu step-options" aria-labelledby="dropdownMenuButton">
                               <!-- <a class="dropdown-item" href="#">Move Up</a> -->
                               <!-- <a class="dropdown-item" href="#">Move Down</a> -->
                                <a class="dropdown-item edit-step">Edit</a>
                               <!-- <a class="dropdown-item" href="#">Delete</a> -->
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ step.name }}</h5>
                <p class="card-text">{{ step.description }}</p>
                <a href="{{ step.link }}" target="_blank" class="btn btn-primary step-link">Go to Link</a>
                </div>
            </div>
        </div>
    </div>