<!DOCTYPE html>

{% from 'bootstrap/form.html' import render_field %}

<html lang="en">
  
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='mystyle.css')}}">
    {% endblock %}

    <title>LearnPath</title>
    {% endblock %}
  </head>
  
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="{{ url_for('home') }}">LearnPath</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link disabled">{{ current_user.email }}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for("logout") }}">Log out</a>
              </li>
            {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for("google.login") }}">Log in</a>
              </li>
            {% endif %}
          </ul>
      </div>
    </nav>
    
    <div class="float-none">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>
  
    <!-- Your page content -->
    {% block content %}{% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    
    {% endblock %}
    
    {% if path_form %}
      {% if path_form.errors %}
        <script>
        $('#newPath').modal('show');
        </script>
      {% endif %}
    {% endif %}

    {% if step_form %}
      {% if step_form.errors %}
        <script>
        $('#newStep').modal('show');
        </script>
      {% endif %}
    {% endif %}
    
  </body>
  
</html>